.accompany{
	overflow: hidden;
	margin: 60px 0;
	&--table{
		.accompany__item{
			display: flex;
			align-items: center;
			width: 100%;
			text-decoration: none;
			justify-content: space-between;
			margin-bottom: 32px;
		}
		.accompany__txt{
			display: block;
			max-width: 526px;
		}
	}
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 48px;
		color: #333333;
		margin-bottom: 28px;
	}
	h2{
		font-weight: bold;
		font-size: 45px;
		line-height: 60px;
		color: #333333;
		margin: 0 0 20px;
	}
	&__body{
		display: flex;
		align-self: center;
		overflow-x: hidden;
		overflow-y: hidden;
		div{
			&:focus{
				outline: none;
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;
		text-decoration: none;
		&:focus{
			outline: none;
		}
	}
	&__img{
		margin-right: 20px;
		flex: 0 0 100px;
		display: block;
		text-decoration: none;
		img{
			max-width: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__name{
		font-size: 20px;
		line-height: 32px;
		color: #333333;
		overflow: hidden;
		text-decoration: none;
		&:hover{
			color: #EB222D;
		}
	}
	&__price{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
		width: 120px;
		text-align: center;
	}
	&__btn{
		text-align: center;
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #fff;
		border: 1px solid #EB222D;
		background-color:#EB222D;
		box-sizing: border-box;
		border-radius: 12px;
		padding: 19px 15px 15px;
		text-decoration: none;
		display: inline-block;
		max-width: 151px;
		width: 100%;
		height: 68px;
		margin: 0;
		cursor: pointer;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			border: 1px solid #EB222D;
			background-color:#fff;
			color: #333333;
		}
	}
	&__star{
		background-image: url("../img/Star.svg");
		background-repeat: no-repeat;
		background-position: center left;
		padding-left: 24px;
		font-size: 17px;
		line-height: 25px;
		color: #333333;
	}
	&__nav{
		overflow: hidden;
		max-width: 100px;
		display: flex;
		border: 1px solid #EB222D;
		border-radius: 12px;
	}
	.slick-arrow{
		background-image: url("../img/arrow.svg");
		background-position: center;
		background-repeat: no-repeat;
		padding: 25px;
		position: relative;
		flex: 1 0 0;
	}
	.slick-disabled{
		opacity: .4;
	}
	.slick-slide{

	}
	&__prev{
		border-right: 1px solid #EB222D;
	}
	&__next{
		transform: rotate(180deg);
	}
	&__txt{
		display: block;
	}
	@include r(1023){
		margin: 40px 0;
		h2{
			font-size: 32px;
			line-height: 48px;
		}
		&__name{
			font-size: 17px;
			line-height: 24px;
		}
		&__body{
			display: flex;
			align-self: center;
		}
	}
	@include r(767){
		margin: 30px 0;
		h2{
			font-size: 20px;
			line-height: 24px;
		}
		&__nav{
			display: none;
		}
		&__item{
			display: block;
			width: 100px;
		}
		&__img{
			flex: 0 0 80px;
			margin: 0 auto;
			img{
				max-width: 100%;
				display: block;
				object-fit: cover;
			}
		}
		&__txt{
			display: none;
		}
		&--table{
			.accompany__btn{
				display: none;
			}
			.accompany__price{
				display: none;
			}
		}
	}
	@include r(480){
		&__item{
			width: 80px;
		}
	}
}