.blog{
	font-family: 'Circe', sans-serif;
	position: relative;
	margin: 60px 0;
	h2{
		font-family: 'Circe';
		font-weight: 700;
		font-size: 45px;
		line-height: 60px;
		color: #333333;
		margin: 0 0 20px;
		a{
			color: inherit;
		}
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: 60px 40px;
	}
	&__item{
		display: flex;
		flex: 1 0 0;
		text-decoration: none;
	}
	&__img{
		flex: 1 0 0;
		min-width: 120px;
		margin-right: 20px;
		display: block;
		text-decoration: none;
		overflow: hidden;
		img{
			border-radius: 12px;
			height: auto;
			max-width: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__txt{}
	&__category{
		color: #BDBDBD;
		font-weight: bold;
		font-size: 15px;
		line-height: 22px;
		letter-spacing: 0.07em;
		margin: 0;
		text-transform: uppercase;
	}
	&__name{
		display: block;
		text-decoration: none;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #333333;
		font-family: 'Circe', sans-serif;
	}
	@include r(1023){
		margin: 40px 0;
		h2{
			font-size: 32px;
			line-height: 48px;
		}
		&__category{
			font-size: 15px;
			line-height: 22px;
		}
		&__name{
			font-size: 20px;
			line-height: 24px;
		}
	}
	@include r(980){
		&__body{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 60px 40px;
		}
		&__img{
			display: none;
		}
		&__name{
			font-size: 20px;
			line-height: 24px;
		}
	}
	@include r(767){
		margin: 30px 0;
		h2{
			font-size: 24px;
			line-height: 32px;
		}
		&__body{
			grid-gap: 24px;
			grid-template-columns: 1fr;
		}
		&__category{
			font-size: 12px;
			line-height: 18px;
		}
		&__name{
			font-size: 15px;
			line-height: 20px;
		}
	}
}