.breadcrumb{
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	li{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #888E94;
		position: relative;
		white-space: nowrap;
		&:after{
			content: '/';
			display: inline-block;
			margin: 0 10px;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
		a,span{
			color: #888E94;
			text-decoration: none;
		}
	}
	@include r(1024){
		overflow-x: scroll;
	}
}