.card {
	position: relative;
	margin: 0 0 60px;
	&--recomed{
		h2 {
			display: none;
		}
		.card__body {
			display: block;
			position: absolute;
			top: 0;
			left: -320px;

		}
		.card__item {
			display: block;
			text-decoration: none;
			width: 280px;
			border: 1px solid #E0E0E0!important;
			position: relative;
			height: 459px;
			border-radius: 12px;
			margin-bottom: 40px;
			padding: 0;
			&:hover{
				border: none!important;
				.card__inner{
					position: absolute;
					box-shadow: 0 4px 24px rgba(107, 125, 139, 0.24);
					background: #fff;
				}
				.card__footer{
					opacity: 1;
					visibility: visible;
					height: auto;
					transition: all .1s ease;
				}
			}
		}
		.card__img {
			margin: 0 0 12px;
			text-align: center;
			display: block;
			text-decoration: none;
			position: relative;
			img {
				max-width: 100%;
				object-fit: contain;
				margin: 0 auto!important;
				display: block;
			}
		}
		.card__name {
			font-size: 17px;
			line-height: 25px;
			color: #000000!important;
		}
		.card__basket{
			color: #fff!important;
		}
	}

	h2 {
		font-weight: bold;
		font-size: 45px;
		line-height: 60px;
		color: #333333;
		margin: 0 0 20px;
	}

	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__item {
		display: block;
		text-decoration: none;
		max-width: 344px;
		border: 1px dashed #888E94;
		border-left: none;
		border-top: none;
		position: relative;
		&:nth-child(4n) {
			border-right: 0;
		}

		&:nth-last-child(-n+4) {
			border-bottom: none;
		}

		&--all {
			display: flex;
			align-content: center;
			justify-content: center;

			.card__txt {
				margin: auto;
			}
		}
		&--border{
			border: 1px solid #E0E0E0!important;
			border-radius: 12px;
		}
		&:hover{
			.card__inner{
				position: absolute;
				box-shadow: 0px 4px 24px rgba(107, 125, 139, 0.24);
				background: #fff;
				border: 1px solid #E0E0E0!important;
			}
			.card__footer{
				opacity: 1;
				visibility: visible;
				height: auto;
				transition: all .1s ease;
			}
		}
	}
	&__inner{
		padding: 20px;
		border-radius: 12px;
		z-index: 10;
	}
	&__footer{
		opacity: 0;
		visibility: hidden;
		height: 0;
		transition: all .1s ease;
		text-align: center;
		margin-top: 20px;
	}

	&__img {
		margin-bottom: 12px;
		text-align: center;
		display: block;
		text-decoration: none;
		position: relative;
		img {
			max-width: 100%;
			object-fit: contain;
			margin: 0 auto;
			display: block;
		}
	}

	&__txt {

	}

	&__name {
		display: block;
		text-decoration: none;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #000000;
	}

	&__articul {
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #888E94;
		margin-bottom: 9px;
	}

	&__count {
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #27AE60;
		margin-bottom: 3px;
	}

	&__price {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
	}

	&__star {
		background-image: url("../img/Star.svg");
		background-repeat: no-repeat;
		background-position: center left;
		padding-left: 24px;
		font-size: 17px;
		line-height: 25px;
		color: #333333;
	}

	&__btn {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #333333;
		text-decoration: none;
		display: block;
		width: fit-content;
		padding: 21px 45px 21px 32px;
		margin: 20px auto;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../img/border-btn.svg");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}

	&__cart-btn {
		display: none;
	}

	&__all {
		background-image: url("../img/card__all.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 40px;
		height: 134px;
		margin: auto;
	}

	&__stickers{
		position: absolute;
		top: 8px;
		left: 8px;
	}

	&__like{
		position: absolute;
		top: 20px;
		right: 20px;
		display: block;
		background-image: url(../img/like.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 34px;
		height: 34px;
		border: 0;
		background-color: transparent;
		outline: 0;
	}
	&__basket{
		text-align: center;
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: #fff;
		border: none;
		background-color:#EB222D;
		box-sizing: border-box;
		border-radius: 12px;
		padding: 19px 15px 15px;
		text-decoration: none;
		display: block;
		width: 100%;
		height: 54px;
		margin: 0;
	}

	@include r(1023) {
		margin: 40px 0;
		&--recomed{
			h2 {
				display: block;
			}
			.card__body {
				display: block;
				position: relative;
				left: 0;
				width: 100%;
				margin: auto;

			}
			.card__item {
				width: 100%;
				max-width: 100%;
				height: 280px;
			}
			.card__inner{
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				height: 100%;
			}
			.card__img {
				margin: 0;
				text-align: center;
				display: block;
				text-decoration: none;
				position: relative;
				flex: 1 0 0;
				max-width: 240px;
				img {
					max-width: 100%;
					object-fit: contain;
					margin: 0 auto!important;
					display: block;
				}
			}
			.card__txt {
				flex: 1 0 0;
			}
			.card__name {
				font-size: 17px;
				line-height: 25px;
				color: #000000!important;
				font-weight: bold;
			}
			.card__footer{
			}
			.card__basket{
				color: #fff!important;
				width: 100%;
			}
		}
		&__body {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		&__item {
			&:nth-child(4n) {
				border-right: 1px dashed #888E94;
			}

			&:nth-last-child(-n+4) {
				border-bottom: 1px dashed #888E94;
			}
			&:nth-child(3n) {
				border-right: none;
			}
			&:nth-last-child(-n+2) {
				border-bottom: none;
			}

			&--all {
				display: flex;
				align-content: center;
				justify-content: center;

				.card__txt {
					margin: auto;
				}
			}
			&--border{
				border: 1px solid #E0E0E0!important;
				border-radius: 12px;
			}
			&:hover{
				.card__inner{
					position: absolute;
					box-shadow: 0px 4px 24px rgba(107, 125, 139, 0.24);
					background: #fff;
					border: 1px solid #E0E0E0!important;
				}
				.card__footer{
					opacity: 1;
					visibility: visible;
					height: auto;
					transition: all .1s ease;
				}
			}
		}
		h2 {
			font-size: 32px;
			line-height: 48px;
		}
		&__name {
			font-size: 17px;
			line-height: 24px;
		}
		&__articul {
			font-size: 15px;
			line-height: 20px;
		}
		&__count {
			font-size: 15px;
			line-height: 20px;
		}
		&__price {
			font-size: 20px;
			line-height: 24px;
		}
		&__cart-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #eb222d;
			border-radius: 12px;
			font-weight: bold;
			font-size: 20px;
			line-height: 28px;
			color: #fff;
			border: none;
			padding: 13px 30px;
			text-decoration: none;
			margin-top: 16px;
			width: fit-content;
		}
	}
	@include r(767) {
		margin: 30px 0;
		&--recomed{
			h2 {
				font-size: 20px;
				line-height: 24px;
			}
			.card__body {
			}
			.card__item {
				height: auto;
			}
			.card__inner{
				display: flex;
				flex-wrap: wrap;
				width: auto;
				height: 100%;
				position: relative!important;
			}
			.card__img {
				margin: 0 0 12px;
				text-align: center;
				display: block;
				text-decoration: none;
				position: relative;
				flex: 1 0 0;
				max-width: 240px;
				img {
					max-width: 100%;
					object-fit: contain;
					margin: 0 auto!important;
					display: block;
				}
			}
			.card__txt {
				flex: 1 0 0;
			}
			.card__name {
				font-size: 17px;
				line-height: 25px;
				color: #000000!important;
				font-weight: bold;
			}
			.card__footer{
			}
			.card__basket{
				color: #fff!important;
				width: 100%;
			}
		}
		h2 {
			font-size: 24px;
			line-height: 32px;
		}
		&__body {
			grid-template-columns: 1fr 1fr;
		}
		&__item {
			padding: 12px;
			border-right: none!important;

			&--all {
				display: flex;
				align-content: center;
				justify-content: center;

				.card__txt {
					margin: auto;
				}
			}
			&--border{
				border: 1px solid #E0E0E0!important;
				border-radius: 12px;
			}
			&:hover{

			}
		}
		&__inner{
			position: absolute;
			box-shadow: none;
			background: #fff;
			border:none;
		}
		&__footer{
			opacity: 1;
			visibility: visible;
			height: auto;
			transition: all .1s ease;
		}

		&__name {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 8px;
		}
		&__articul {
			display: none;
		}
		&__count {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 4px;
		}
		&__price {
			font-size: 17px;
			line-height: 24px;
		}
		&__cart-btn {
			font-size: 15px;
			line-height: 20px;
			padding: 10px 20px;
		}
	}
	@include r(480) {
		&__body {
			margin: 0 -15px;
		}
		&__item {
			display: block;
			text-decoration: none;
			padding: 16px;
			border-right: none;
			border-left: none;
			border-top: none;
		}
	}
}