.card{
	position: relative;
	margin: 60px 0;
	h2{
		font-weight: bold;
		font-size: 45px;
		line-height: 60px;
		color: #333333;
		margin: 0 0 20px;
	}
	&__body{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	&__row{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item{
		display: block;
		text-decoration: none;
		max-width: 344px;
		border: 1px dashed #888E94;
		border-left: none;
		border-top: none;
		padding: 22px;
		&:nth-child(4n){
			border-right: 0;
		}
		&:nth-last-child(-n+4){
			border-bottom: none;
		}
	}
	&__img{
		margin-bottom: 12px;
		text-align: center;
		display: block;
		text-decoration: none;
		img{
			max-width: 100%;
			object-fit: contain;
			margin: 0 auto;
			display: block;
		}
	}
	&__txt{

	}
	&__name{
		display: block;
		text-decoration: none;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #000000;
	}
	&__articul{
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #888E94;
	}
	&__count{
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #27AE60;
	}
	&__price{
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
	}
	&__star{
		background-image: url("../img/Star.svg");
		background-repeat: no-repeat;
		background-position: center left;
		padding-left: 24px;
		font-size: 17px;
		line-height: 25px;
		color: #333333;
	}
	&__btn{
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #333333;
		text-decoration: none;
		display: block;
		width: fit-content;
		padding: 21px 45px 21px 32px;
		margin: 20px auto;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../img/border-btn.svg");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	@include r(1023){
		margin: 40px 0;
		h2{
			font-size: 32px;
			line-height: 48px;
		}
	}
	@include r(767){
		margin: 30px 0;
		&__body{
			grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
		}
		&__item{
			&:nth-child(2n){
				border-right: 0;
			}
			&:nth-child(4n){
				border-right: 0;
			}
			&:nth-last-child(-n+4){
				border-bottom: 1px dashed #888E94;
			}
			&:nth-last-child(-n+2){
				border-bottom:none;
			}
		}
		&__name{
			font-size: 15px;
			line-height: 20px;
		}
		&__articul{
			display: none;
		}
		&__count{
			font-size: 15px;
			line-height: 20px;
		}
	}
}