.footer {
	background-color: #4F4F4F;
	padding: 60px 0;

	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__contact {

	}

	&__social {
		margin-left: -6px;

		a {
			text-decoration: none;
			margin: 0 6px;
			transition: all .3s ease;
			&:hover{
				transition: all .3s ease;
				color: #EB222D;
			}
		}
	}
	&__menu{
		margin: 0 auto 0 124px;
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			margin-bottom: 10px;
		}

		a {
			font-weight: normal;
			font-size: 20px;
			line-height: 32px;
			color: #F2F2F2;
			text-decoration: none;
			transition: all .3s ease;
			&:hover{
				transition: all .3s ease;
				color: #EB222D;
			}
		}
	}

	&__copy {
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #BDBDBD;
		margin-left: 20px;
	}

	&__call {
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		text-decoration-line: underline;
		color: #BDBDBD;
		margin-bottom: 24px;
		display: block;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			color: #EB222D;
		}
	}

	&__phone {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #F2F2F2;
		text-decoration: none;
		display: block;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			color: #EB222D;
		}
	}

	&__email {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #F2F2F2;
		text-decoration: none;
		display: block;
		margin-bottom: 24px;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			color: #EB222D;
		}
	}

	&__adres {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #F2F2F2;
		text-decoration: none;
		display: block;
		margin-bottom: 24px;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			color: #EB222D;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		max-width: 420px;
		img{
			flex: 1 0 0;
			max-width: 100%;
			display: block;
			object-fit: cover;
			height: auto;
		}
	}

	@include r(1023) {
		padding: 30px 0;
		&__body {
			display: grid;
			grid-template-areas: 'right list' 'left list';
			grid-template-columns: 1fr auto;
		}
		&__logo {
			display: block;
			margin-bottom: 40px;
		}
		&__copy{
			margin-left: 0;
		}
		&__left {
			grid-area: left;
		}
		&__right {
			grid-area: right;
		}
		&__menu {
			grid-area: list;
			margin: 0;
			align-self: end;
		}
		&__phone {
			font-size: 20px;
			line-height: 24px;
		}

		&__email {
			font-size: 20px;
			line-height: 24px;
		}

		&__adres {
			font-size: 20px;
			line-height: 24px;
		}
	}
	@include r(767) {
		padding: 20px 0;
		&__body {
			display: grid;
			grid-template-areas: 'right' 'list' 'left';
			grid-template-columns: 1fr;
		}
		&__left {
			grid-area: left;
		}
		&__logo {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			max-width: 100%;
			margin-bottom: 0;
			img{
				flex: 1 0 0;
				display: block;
				object-fit: cover;
				height: auto;
				max-width: 120px;
			}
		}
		&__right {
			grid-area: right;

		}
		&__copy {
			margin-left: 20px;
			font-size: 15px;
			line-height: 20px;
		}
		&__menu {
			grid-area: list;
			margin: 20px 0;
			padding: 20px 0;
			border-top: 1px solid #676767;
			border-bottom: 1px solid #676767;
			overflow: hidden;
		}
		&__list{
			display: flex;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			list-style: none;
			align-items: center;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			li{
				display: inline-block;
				margin: 0 20px 0 0;
			}
			a{
				font-size: 17px;
				line-height: 24px;
			}
		}
		&__phone {
			font-size: 17px;
			line-height: 24px;
		}

		&__email {
			font-size: 17px;
			line-height: 24px;
			margin-bottom: 16px;
		}

		&__adres {
			font-size: 17px;
			line-height: 24px;
			margin-bottom: 16px;
		}
	}
	@include r(374){
		&__logo {
			display: block;
		}
		&__copy {
			margin: 10px 0 0;
			font-size: 15px;
			line-height: 20px;
		}
	}
}