.form {
  &--personal {
    max-width: 640px;

    input[type=submit], button, .btn {
      max-width: fit-content !important;
    }
  }

  .title {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    color: #333333;
    text-align: left;
    margin-bottom: 32px;
  }

  .item {
    margin-bottom: 32px;
    position: relative;

    span {
      font-family: Circe;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 25px;
      color: #333333;
      display: inline-block;
      margin-top: 10px;
    }
  }

  .item-checkbox-list {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    position: relative;

    .checkbox {
      margin-right: 32px;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
  }

  .row-search {
    position: relative;
  }

  .search-drop {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 24px rgba(229, 235, 240, 50%);
    border-radius: 12px;
    margin: 0;
    list-style: none;
    z-index: 1;
    text-align: left;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #333333;

    &.active {
      display: block;
    }
  }

  .checkbox {

  }

  .select {
    display: block;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    padding: 14px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: 12px;
    border: 1px solid #BDBDBD;
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOCA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS43MzIwNSA2QzQuOTYyMjUgNy4zMzMzMyAzLjAzNzc1IDcuMzMzMzMgMi4yNjc5NSA2TDAuNTM1ODk5IDNDLTAuMjMzOTAyIDEuNjY2NjcgMC43MjgzNDkgMCAyLjI2Nzk1IDBINS43MzIwNUM3LjI3MTY1IDAgOC4yMzM5IDEuNjY2NjcgNy40NjQxIDNMNS43MzIwNSA2WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  .select::-ms-expand {
    display: none;
  }

  .select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px rgba(#EB222D, .7);
    box-shadow: 0 0 0 1px -moz-mac-focusring;
    outline: none;
  }

  .select option {
    font-weight: normal;
  }

  label {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #333333;
    display: block;
    margin-bottom: 8px;
    text-align: left;

    a {
      text-decoration: none;
      color: #EB222D;
    }

    &.checkbox {
      font-size: 20px;
      line-height: 32px;
      text-transform: none;
      letter-spacing: 0;
      font-family: Circe;
      font-style: normal;
      font-weight: normal;
    }
  }

  input[type=date] {
    margin: 0 10px;
  }

  p {
    text-align: left;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #333;
  }

  input {
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    display: block;
    padding: 17px;
    width: 100%;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #333333;

    &::placeholder {
      font-family: Circe;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 1;
      letter-spacing: 0;
      color: #888E94;
    }

    &.capcha {
      max-width: 180px;
      margin-right: 12px;
    }

    &.search-input {
      padding-left: 62px;
    }
  }

  input[type=password] {
    font-size: 32px;
    color: #333333;
    letter-spacing: 4px;
    height: 60px;
  }

  textarea {
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    display: block;
    padding: 12px;
    width: 100%;
  }

  input[type=submit], button, .btn {
    text-align: center;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    border: none;
    background-color: #EB222D;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 19px 15px 15px;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: 68px;
    margin: 0 5px;

    &.link {
      background-color: transparent;
      font-family: Circe;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 1;
      color: #333333;
      text-decoration: none;
      margin: 0;
      width: fit-content;
      padding: 0;
    }

    &.submit {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(0, -50%);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      background-color: transparent;
      background-image: url(../img/services-search-icon.svg);
      width: 24px;
      height: 24px;
    }

    &.w100 {
      width: calc(100% + 70px);
      margin-left: -35px;
      max-width: none;
      border-radius: 0;
    }
  }

  .input-group-container {
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
  }

  .input-group-text {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #888E94;
  }

  .input-group {
    display: flex;
    align-items: center;
    border-right: 1px solid #BDBDBD;
    padding: 16px;
    position: relative;

    &:last-of-type {
      border-right: none;
    }

    &:first-of-type {
      max-width: 300px;
      width: 100%;

      .input-group-input {
        text-align: left;

        &::placeholder {
          text-align: left;
        }
      }
    }
  }

  .input-group-input {
    border: none;
    outline: none;
    padding: 0 5px;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: right;
    color: #333333;

    &::placeholder {
      font-family: Circe;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      text-align: right;
      color: #333333;
    }
  }

  .map {
    width: calc(100% + 70px);
    margin-left: -35px;
    height: 493px;
  }

  iframe {
    width: 100%;
    height: 100%;
    display: block;
  }

  .drop {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px #E5EBF0;
    border-radius: 12px;
    margin: 0;
    list-style: none;
    padding: 0;
    display: none;
    &:active{
      display: block;
    }

    li {


      a{
        padding: 16px;
        font-family: Circe;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #333333;
        text-decoration: none;
        &:hover{
          background: #F6F8FA;
        }
      }
      &.last {
        border-top: 1px solid #BDBDBD;
      }
    }

  }

  @include r(767) {
    .title {
      font-size: 24px;
      line-height: 32px;
    }
    label {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0;
      text-transform: none;

      &.checkbox {
        font-size: 15px;
        line-height: 20px;
        margin: 0;
      }
    }
    .select {
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      padding: 10px;
    }
    input {
      padding: 10px;
    }
    textarea {
      padding: 10px;
    }
    input[type=date] {
      margin: 0 10px;
      width: calc(50% - 20px);
    }
    input[type=submit], button, .btn {
      font-size: 15px;
      line-height: 1;
      border-radius: 12px;
      padding: 19px 15px 15px;
      text-decoration: none;
      display: inline-block;
      max-width: 100%;
      width: 100%;
      height: 48px;
      margin: 0;

      &.link {
        background-color: transparent;
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #333333;
        text-decoration: none;
        margin: 0;
        width: fit-content;
        height: auto;
      }
    }
  }
}