.information{
	margin: 0;
	padding: 0;
	list-style: none;
	min-width: 290px;
	width: fit-content;
	&--order{
		margin-left: 0;
		margin-bottom: 27px;
		width: 100%;
		li{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 3px 0 0;
			list-style-type: none;
			list-style-position: inside;
			position: relative;
			margin: 0!important;
			&:after{
				display: none;
			}
			&:last-of-type{
				span{
					margin-right: 0;
				}
			}
			.price{
				font-family: Circe;
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 32px;
				text-align: right;
				color: #222222;

			}
			.status{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 24px;
				color: #888E94;
			}
			span{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 32px;
				color: #222222;
				padding: 0!important;
				margin-right: 20px;

			}
		}
	}
	li{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3px 0 0;
		list-style-type: none;
		list-style-position: inside;
		margin-bottom: 10px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: 13px;
			left: 0;
			width: 100%;
			border-bottom: 1px dashed #888E94;
			z-index: 0;
		}

		span{
			background-color: #fff;
			display: block;
			position: relative;
			z-index: 1;
			padding: 5px;
			margin-right: 20px;
			&:last-of-type{
				margin-right: 0;
			}
		}
	}
	@include r(767){
		&--order{
			margin-left: 0;
			margin-bottom: 0;
			max-width: 100%;
			li{
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 3px 0 0;
				list-style-type: none;
				list-style-position: inside;
				position: relative;
				margin: 0!important;
				&:after{
					display: none;
				}
				.price{
					font-family: Circe;
					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 32px;
					text-align: right;
					color: #222222;

				}
				.status{
					font-family: Circe;
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 24px;
					color: #888E94;
				}
				span{
					font-size: 15px;
					line-height: 20px;
					color: #222222;
				}
			}
		}
	}
}