.maps{
	margin: 60px 0;
	h2{
		font-weight: bold;
		font-size: 45px;
		line-height: 60px;
		color: #333333;
		margin: 0 0 20px;
		a{
			color: inherit;
		}
	}
	h3{
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #333333;
		margin:  0 12px;
	}
	&__subtitle{
		font-style: normal;
		font-weight: bold;
		font-size: 38px;
		line-height: 48px;
		color: #333333;
		margin: 60px 0 12px;
	}
	&__body{
		display: flex;
		margin: 0 -20px;
		overflow: auto;
		max-width: 1200px;
		&--shops{
			display: grid;
			grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
			grid-gap: 40px;
			margin: 0!important;
			.maps__item{
				width: 100%;
				min-width: auto;
				background: #FFFFFF;
				border: 1px solid rgba(136, 142, 148, 0.4);
				box-sizing: border-box;
				border-radius: 12px;
				padding: 20px 24px 0;
				overflow: hidden;
				margin: 0;
				display: flex;
				flex-direction: column;
			}
		}
	}
	&__item{
		width: 420px;
		min-width: 320px;
		background: #FFFFFF;
		border: 1px solid rgba(136, 142, 148, 0.4);
		box-sizing: border-box;
		border-radius: 12px;
		padding: 20px 24px 0;
		overflow: hidden;
		margin: 0 20px;
		display: flex;
		flex-direction: column;
	}
	&__txt{
		margin-bottom: 46px;
	}
	&__map{
		width: calc(100% + 48px);
		margin:auto 0 0 -24px;
		img{
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		span{
			font-style: normal;
			font-weight: normal;
			font-size: 17px;
			line-height: 23px;
			color: #BDBDBD;
		}
		p{
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 31px;
			color: #333333;
			margin: 0;
		}
		li{
			margin-bottom: 12px;
		}
	}
	&__btn{
		display: block;
		width: fit-content;
		font-family: 'Circe', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 17px;
		line-height: 23px;
		color: #333333;
		border: 1px solid #EB222D;
		box-sizing: border-box;
		border-radius: 12px;
		padding: 12px 18px;
		margin-bottom: 10px;
		text-decoration: none;
	}
	.tabs{
		img{
			max-width: 100%;
			height: auto;
		}
	}
	@include r(1023){
		margin: 40px 0;
		&__body{
			margin: 0 -20px;
			overflow: auto;
			max-width: 973px;
		}
		h2{
			font-size: 32px;
			line-height: 48px;
			a{
				color: inherit;
			}
		}
		h3{
			font-size: 20px;
			line-height: 24px;
		}
		ul{
			span{
				font-size: 15px;
				line-height: 20px;
			}
			p{
				font-size: 17px;
				line-height: 24px;
			}
		}
		&__btn{
			font-size: 15px;
			line-height: 20px;
		}
		.tabs__link{
			width: fit-content;
		}
	}
	@include r(767){
		margin: 40px 0;
		&__body{
			margin: 0;
			overflow: auto;
			max-width: 973px;
			overflow-x: scroll;
		}
		&__item{
			width: 340px;
			margin: 0 20px 0 0;
		}
		h2{
			font-size: 24px;
			line-height: 32px;
		}
		h3{
			font-size: 17px;
			line-height: 24px;
		}
		ul{
			p{
				font-size: 15px;
				line-height: 20px;
			}
		}
		&__btn{
			font-size: 15px;
			line-height: 20px;
		}
	}
}