.menu{
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 12px;
	padding: 24px;
	height: auto;
	&.open{
		border: none;
		border-top: 1px solid #E0E0E0;
		display: grid;
		grid-template-columns: 220px 1fr;
		height: 100%;
		position: relative;
		border-radius: 0;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			box-shadow: 0px 19px 24px rgba(107, 125, 139, 0.24);
		}
	}
	&--page{
		border: none;
		border-top: 1px solid #E0E0E0;
		display: grid;
		grid-template-columns: 280px 1fr;

		position: relative;
		border-radius: 0;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			box-shadow: 0px 19px 24px rgba(107, 125, 139, 0.24);
		}
	}
	&.border{
		border: none;
	}
	&--big{
		border-radius: 0;
		border: 0;
	}
	&__button{
		border: none;
		background-color: transparent;
		width: 100%;
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		color: #333333;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/menu-btn.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
		}
	}
	&__list{
		margin: 32px 0 0;
		padding: 24px 0 0;
		border-top: 1px solid #E0E0E0;
		list-style: none;
		li{
			margin-bottom: 23px;
			position: relative;
			&:last-child{
				margin-bottom: 0;
			}
			&.active{
				a{
					color: #EB222D;
				}
			}
			i.sign-out{
				display: inline-block;
				vertical-align: middle;
				background-image: url("../img/sign-out.svg");
				background-repeat: no-repeat;
				background-position: center right;
				background-size: 100%;
				width: 20px;
				height: 23px;
			}
			a{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				line-height: 28px;
				color: #333333;
				text-decoration: none;
				transition: all .3s ease;
				&:hover{
					color: #EB222D;
					transition: all .3s ease;
				}
			}
		}

		&--main{
			border-top: none;
			margin: 0;
			padding: 0;
			list-style: none;
			z-index: 105;
			li{
				a{
					font-family: Circe;
					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 24px;
					color: #333333;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
				}
				&:hover{
					.menu__dropright{
						display: block;
					}
				}
			}
		}
		&--border{
			border: 1px solid #E0E0E0;
			border-radius: 12px;
			padding: 24px;
		}
		&--drop{
			background: #FFFFFF;
			box-shadow: 0px 4px 24px #E5EBF0;
			border-radius: 12px;
			padding: 24px;
			display: none;
			z-index: 120;
			&.active{
				display: block;
			}
			li{
				margin-bottom: 18px;
				&:last-child{
					margin-top: 28px;
				}
			}
			a{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 25px;
				color: #333333;
			}
		}

	}
	&__more{
		background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOCA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS43MzIwNSA2QzQuOTYyMjUgNy4zMzMzMyAzLjAzNzc1IDcuMzMzMzMgMi4yNjc5NSA2TDAuNTM1ODk5IDNDLTAuMjMzOTAyIDEuNjY2NjcgMC43MjgzNDkgMCAyLjI2Nzk1IDBINS43MzIwNUM3LjI3MTY1IDAgOC4yMzM5IDEuNjY2NjcgNy40NjQxIDNMNS43MzIwNSA2WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K);
		background-size: 12px;
		background-position: center right;
		background-repeat: no-repeat;
		&.disable-img{
			background-image: none;
		}
		ul{
			display: none;
			margin: 0;
			padding: 0;
			list-style: none;
			&.active{
				display: block;
			}
		}
	}
	&__dropright{
		position: absolute;
		top: 0;
		left: 280px;
		background-color: #fff;
		width: calc(100% - 280px);
		height: 100%;
		z-index: 1000;
		border-left: 1px solid #E0E0E0;
	}
	.icons{
		margin-right: 16px;
		vertical-align: middle;
	}
	@include r(1023){
		display: none;
	}
}