.page404{
	margin-bottom: 80px;
	&__title{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 185px;
		line-height: 1;
		color: #333333;
		margin: 0 0 20px;
	}
	&__subtitle{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		line-height: 60px;
		color: #333333;
		margin: 0 0 20px;
	}
	&__text{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #333333;
		a{
			color: #EB222D;
			text-decoration: none;
		}
	}
	&__btn{
		text-align: center;
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #fff;
		border: 1px solid #EB222D;
		background-color:#EB222D;
		box-sizing: border-box;
		border-radius: 12px;
		padding: 19px 15px 15px;
		text-decoration: none;
		display: inline-block;
		width: fit-content;
		height: 68px;
		margin: 0;
		transition: all .3s ease;
		&:hover{
			transition: all .3s ease;
			color: #333;
			background-color: #fff;
			border: 1px solid #EB222D;
		}
	}
	@include r(767){
		text-align: center;
		&__subtitle{
			font-size: 32px;
			line-height: 48px;
		}
		&__text{
			font-size: 17px;
			line-height: 24px;
		}
	}
}