.personal-order{
  &__row{
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-gap: 30px;
  }
  &__item{
    margin-bottom: 32px;
  }
  &__title{
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 6px;
  }

  &__label{
    background: #6FCF97;
    border-radius: 6px;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    width: fit-content;
    padding: 3px 8px 2px;
  }
  &__status{
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: #888E94;
  }
  &__btn{
    text-align: center;
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    border: none;
    background-color:#EB222D;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 19px 15px 15px;
    text-decoration: none;
    display: inline-block;
    max-width: fit-content;
    width: 100%;
    height: 68px;
    margin: 0;
    cursor: pointer;
    transition: all .3s ease;
    &.outline{
      color: #333333;
      border: 1px solid #EB222D;
      background-color:transparent;
      &:hover{
        color: #fff;
        background-color: #EB222D;
        transition: all .3s ease;
      }
    }
  }
  p{
    color: #333333;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    &.text{
      margin-bottom: 32px;
    }
    a{
      color: #EB222D;;
      text-decoration: none;
    }
  }
  @include r(767){
    display: block;
    &__row{
      display: grid;
      grid-template-columns: 1fr;

    }
  }
}