.promocode{
	display: flex;
	align-items: center;
	&__title{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		line-height: 22px;
		display: flex;
		align-items: center;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		margin-right: 20px;

		color: #333333;
	}
	&__input{
		background: #FFFFFF;
		border: 1px solid #BDBDBD;
		box-sizing: border-box;
		border-radius: 12px;
		height: 54px;
		padding: 10px 20px;
		max-width: 178px;
		width: 100%;
		font-weight: bold;
		font-size: 17px;
		color: #333333;

		&:focus{
			box-shadow: 0 0 5px #EB222D;
			outline: none;
			border: 1px solid transparent;
		}
	}
	&__link{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #EB222D;
		text-decoration: none;
		display: block;
		margin-left: 20px;
	}
	&__name{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #333333;
		position: relative;
	}
	&__prize{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #888E94;
	}
	&__close{
		width: 24px;
		height: 24px;
		top: 0;
		right: 0;
		position: relative;
		display: inline-block;
		cursor: pointer;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("../img/promocode-close.svg");
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}
	&__open{
		display: none;
	}
}