.promo{
	margin: 0 0 60px;
	overflow: hidden;
	&__body{
		display: grid;
		grid-template-columns: 280px minmax(660px,1015px);
		grid-gap: 40px;
	}
	&__aside{

	}
	&__main{

	}
	&__slider{
		position: relative;
		margin-bottom: 36px;

		img{
			max-width: 100%;
		}
	}
	&__for{
		max-width: 1015px;
		.item{
			border-radius: 12px 0 12px 12px;
			overflow: hidden;
			display: block;
			text-decoration: none;
		}
		.slick-track{
			overflow: hidden;
		}
		.slick-dots{
			top: 0;
			bottom: auto;
			right: -60px;
			li {
				position: relative;
				display: block;
				padding: 0;
				margin: 0;
				cursor: pointer;
				color: #BDBDBD;
				font-weight: bold;
				font-size: 20px;
				line-height: 48px;
				width: 100%;
				height: 100%;
				border-bottom: 1px solid rgba(0, 0, 0, 0.12);
				&:first-child{
					border-top: 1px solid rgba(0, 0, 0, 0.12);
				}
				&.slick-active{
					background-color: #EB222D;
					color: #fff;
				}
			}
		}
	}
	&__nav{
		position: absolute;
		top: 0;
		right: -51px;
		width: 52px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__num{
		color: #BDBDBD;
		font-weight: bold;
		font-size: 20px;
		line-height: 48px;
		width: 100%;
		height: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);

	}
	&__block{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		img{
			max-width: 100%;
			object-fit: cover;
			display: block;
		}
		.item{
			flex: 1 0 0;
			max-width: 486px;
			overflow: hidden;
			border-radius: 12px;
			position: relative;
			display: block;
			text-decoration: none;
		}
		.txt{
			position: absolute;
			top: 0;
			left: 0;
			padding: 20px 28px;
		}
		.name{
			font-weight: bold;
			font-size: 24px;
			line-height: 32px;
			color: #FFFFFF;
			background-color: #EB222D;
			border-radius: 4px;
			padding: 5px;
		}
		.count{
			font-size: 20px;
			line-height: 32px;
			color: rgba(255, 255, 255, 0.7);
			background-color: #EB222D;
			border-radius: 4px;
			display: inline-block;
			padding: 5px;
			margin-top: -4px;
		}
		&--categor{
			grid-template-columns: repeat(auto-fit, minmax(180px, 231px));
			grid-gap: 30px;
			.item{
				max-width: none;
				&.filter{
					display: none;
				}
			}
			.txt{
				border-radius: 12px;
				background-color: #F5F8FA;
				position: relative;
				padding: 20px 28px;
				height: 100%;
				display: flex;
				align-items: center;
			}
			.name{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 25px;
				color: #333333;
				background-color: transparent;
				border-radius:0;
				padding: 0;
			}
		}
	}
	&__filter{
		width: 24px;
		height: 24px;
		display: inline-block;
		vertical-align: middle;
		background-image: url("../img/filter-icon.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		margin-right: 5px;
	}
	@include r(1023){
		&__over{
			overflow: hidden;
		}
		&__block{
			&--categor{
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow-x: scroll;
				overflow-y: hidden;
				white-space: nowrap;
				.item{
					max-width: none;
					width: 100%;
					display: inline-block;
					white-space: nowrap;
					overflow: initial;
					&.filter{
						display: inline-block;
						margin: 0;
					}
				}
				.txt{
					border-radius: 12px;
					background-color: #F5F8FA;
					position: relative;
					padding: 20px 28px;
					height: 100%;
					display: flex;
					align-items: center;
				}
				.name{
					font-family: Circe;
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 25px;
					color: #333333;
					background-color: transparent;
					border-radius:0;
					padding: 0;
					white-space: nowrap;
					display: flex;
				}
			}
		}
	}
}