.sort{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&__count{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #333333;
	}
	&__select{
		.select {
			display: block;
			font-size: 20px;
			font-family: Circe;
			color: #888E94;
			padding: .6em 2em .5em .8em;
			width: 100%;
			max-width: 100%;
			box-sizing: border-box;
			margin: 0;
			border-radius: 12px;
			border: none;
			appearance: none;
			background-color: transparent;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOCA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS43MzIwNSA2QzQuOTYyMjUgNy4zMzMzMyAzLjAzNzc1IDcuMzMzMzMgMi4yNjc5NSA2TDAuNTM1ODk5IDNDLTAuMjMzOTAyIDEuNjY2NjcgMC43MjgzNDkgMCAyLjI2Nzk1IDBINS43MzIwNUM3LjI3MTY1IDAgOC4yMzM5IDEuNjY2NjcgNy40NjQxIDNMNS43MzIwNSA2WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K');
			background-repeat: no-repeat, repeat;
			background-position: right .7em top 50%, 0 0;
			background-size: 10px;
		}
		.select::-ms-expand { display: none; }
		.select:focus {
			border-color: #aaa;
			box-shadow: 0 0 1px 1px rgba(#EB222D, .7);
			box-shadow: 0 0 0 1px -moz-mac-focusring;
			outline: none;
		}
		.select option { font-weight:normal; }
	}
	&__control{
		display: flex;
		position: absolute;
		top: -55px;
		right: 0;

		a{
			margin-left: 20px;
			.active{
				&>*{
					fill: #EB222D;
				}

			}
			&>*{
				fill: #888E94;

			}
		}
	}
	&__btn{
		text-align: center;
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #fff;
		border: none;
		background-color:#EB222D;
		box-sizing: border-box;
		border-radius: 12px;
		padding: 13px 15px;
		text-decoration: none;
		display: inline-block;
		width: fit-content;
		vertical-align: middle;
		margin-right: 0;
		margin-left: auto;
	}
	@include r(767){
		&__control{
			display: none;
		}
	}
}
