.sort{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&__count{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 32px;
		color: #333333;
	}
	&__select{
		.jq-selectbox{
			width: 100%;
			&.focused{
				border: none;
				border-radius: 12px;
				height: 48px;
			}
			&__select {
				height: 48px;
				padding: 10px 45px 10px 10px;
				border: none;
				border-radius: 12px;
				background: transparent;
				box-shadow: none;
				font-family: Circe;
				color: #333333;
				text-shadow: 1px 1px #fff;
			}
			&__select-text{
				font-family: Circe;
				font-weight: normal;
				font-size: 20px;
				color: #333333;
				text-align: left;
			}
			&__trigger{
				border: none;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				right: 10px;
				width: 8px;
				height: 8px;
			}
			&__trigger-arrow{
				background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOCA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS43MzIwNSA2QzQuOTYyMjUgNy4zMzMzMyAzLjAzNzc1IDcuMzMzMzMgMi4yNjc5NSA2TDAuNTM1ODk5IDNDLTAuMjMzOTAyIDEuNjY2NjcgMC43MjgzNDkgMCAyLjI2Nzk1IDBINS43MzIwNUM3LjI3MTY1IDAgOC4yMzM5IDEuNjY2NjcgNy40NjQxIDNMNS43MzIwNSA2WiIgZmlsbD0iIzMzMzMzMyIvPgo8L3N2Zz4K');
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center;
				width: 100%;
				height: 100%;
				border: none;
				top: 0;
				left: 0;
			}
			li{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				color: #333333;
				text-align: left;
				margin-bottom: 15px;
				&:last-of-type{
					margin-bottom: 0;
				}
				&.selected,
				&:hover{
					background-color: transparent;
					color: #EB222D;
				}
			}
			&__dropdown{
				margin-top: 20px;
				border: transparent;
				background: #fff;
				-webkit-box-shadow: 0 4px 24px #e5ebf0;
				box-shadow: 0 4px 24px #e5ebf0;
				border-radius: 12px;
				padding: 20px;
				ul {
					position: relative;
					overflow: auto;
					overflow-x: hidden;
				}
			}
		}
	}
	&__control{
		display: flex;
		position: absolute;
		top: -55px;
		right: 0;

		a{
			margin-left: 20px;
			.active{
				&>*{
					fill: #EB222D;
				}

			}
			&>*{
				fill: #888E94;

			}
		}
	}
	&__control--item{

	}
	&__btn{
		text-align: center;
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #fff;
		border: none;
		background-color:#EB222D;
		box-sizing: border-box;
		border-radius: 12px;
		padding: 13px 15px;
		text-decoration: none;
		display: inline-block;
		width: fit-content;
		vertical-align: middle;
		margin-right: 0;
		margin-left: auto;
	}
	@include r(767){
		&__control{
			display: none;
		}
	}
}
