.subscribe{
	margin: 60px 0;
	&__body{
		background: #F6F8FA;
		border-radius: 12px;
		padding: 40px 15px;
	}
	&__form{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title{
		font-family: 'Circe', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
		max-width: 347px;
		margin-right: 20px;
		position: relative;
		padding-left: 66px;
		min-width: 300px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-image: url("../img/subscribe.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			width: 42px;
			height: 42px;
		}
	}
	&__input{
		font-family: 'Circe', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		color: #333333;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(136, 142, 148, 0.4);
		padding: 22px 0;
		max-width: 423px;
		width: 100%;
		min-width: 194px;
		margin-right: 20px;
	}
	&__submit{
		background: #EB222D;
		border-radius: 12px;
		font-family: 'Circe', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		color: #FFFFFF;
		width: fit-content;
		padding: 20px 40px;
		border: none;
	}
	@include r(1023){
		margin: 40px 0;
		&__body{
			background: #F6F8FA;
			border-radius: 12px;
			padding: 33px 15px 27px 15px;
		}
		&__title{
			display: block;
			flex: 1 0 100%;
			max-width: 490px;
			text-align: center;
			margin: 0 0 26px;
		}
		&__form{
			flex-wrap: wrap;
		}
		&__input{
			margin-bottom: 20px;
		}
	}
	@include r(767){
		margin: 32px 0;
		&__title{
			margin: 0 0 20px;
			font-size: 17px;
			line-height: 24px;
			text-align: left;
			padding-left: 51px;
			&:before{
				width: 36px;
				height: 36px;
			}
		}
	}
	@include r(374){
		&__title{
			color: #000000;
			max-width: 100%;
			margin-right: 0;
			position: relative;
			padding-left: 0;
			min-width: auto;
			&:before{
				display: none;
			}
		}
	}
}