.table{
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	&--order{
		tbody {
			tr{
				&:last-of-type{
					&>th,&>td{
						border-bottom: none;
					}
				}
				&>th,&>td{
					padding: 22px;
					border-bottom: 1px solid #BDBDBD;
					font-family: Circe;
					font-style: normal;
					font-weight: normal;
					font-size: 17px;
					line-height: 24px;
					vertical-align: top;
					&:first-child{
						padding: 22px 0;
					}
				}
			}
		}
	}
	thead {
		tr {
			white-space: nowrap;
			&>td,&>th {
				padding: 22px;
				font-family: Circe;
				font-style: normal;
				font-weight: bold;
				font-size: 20px;
				line-height: 18px;
				color: #333333;
				&:first-child{
					padding: 22px 0;
				}
			}
		}
	}
	tbody {
		tr{
			&>th,&>td{
				padding: 22px;
				border-bottom: 1px solid #BDBDBD;
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 24px;
				min-width: 100px;
				&:first-child{
					font-family: Circe;
					font-style: normal;
					font-weight: bold;
					font-size: 17px;
					line-height: 18px;
					color: #222222;
					padding: 22px 0;
				}
				a{
					text-decoration: none;
					font-family: Circe;
					font-style: normal;
					font-weight: bold;
					font-size: 17px;
					line-height: 18px;
					color: #EB222D;
					transition: all .3s ease;
					&:hover{
						transition: all .3s ease;
						color: #333;
					}
				}
			}
		}
	}
	tfoot {
		border-left: 1px solid #ececec;
		border-right: 1px solid #ececec;
		border-bottom: 1px solid #ececec;
		tr{
			&>th,&>td{
				padding: 14px 20px 15px;
			}
		}
	}
	.sent{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: #6FCF97;
	}
	.charging{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: #888888;
	}
	.cancel{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: rgba(235, 34, 45, 0.8);
	}
	.progress{
		font-family: Circe;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 24px;
		color: rgba(243, 125, 16, 0.8);
	}
	.basket{
		background-image: url("../img/icon-basket-delete.svg");
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 24px;
		border: none;
		background-color: transparent;
	}
	@include r(1023){

	}
}