.tabs {
	&__nav {
		display: flex;
		list-style-type: none;
		margin: 0;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: #333333;
		font-weight: bold;
		font-size: 24px;
		line-height: 50px;
		flex-shrink: 0;
		background-image: url("../img/tabs-nav.svg");
		background-repeat: no-repeat;
		background-size: 72px 50px;
		margin-right: 24px;
		width: 72px;
		height: 50px;
		&_active {
			background-image: url("../img/tabs-nav-act.svg");
			cursor: default;
			color: #ffffff;
		}
		&:not(.tabs__link_active):hover,
		&:not(.tabs__link_active):focus{

		}
		span{
			display: none;
		}
		&--second{
			background: #E5EBF0;
			border-radius: 12px;
			width: fit-content;
			padding: 10px 16px 8px;
			font-family: Circe;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			color: #333333;
			&.tabs__link_active{
				background: #EB222D;
				border-radius: 12px;
				color: #fff;
			}
		}
	}
	&__content {
		margin-top: 29px;
		padding: 20px;
		font-size: 16px;
		line-height: 1.5;
		background: #FFFFFF;
		border: 1px dashed rgba(136, 142, 148, 0.4);
		box-sizing: border-box;
		border-radius: 26px;
		&--second{
			padding: 0;
			border: none;
		}
	}
	&__pane {
		display: none;
		&_show {
			display: block;
		}
	}
	@include r(1023){
		&__link {
			font-size: 20px;
			line-height: 40px;
			background-size: 62px 40px;
			margin-right: 20px;
			width: 62px;
			height: 40px;
		}
	}
	@include r(767){
		&__link {
			font-size: 24px;
			line-height: 45px;
			background-size: 83px 45px;
			margin-right: 20px;
			width: 83px;
			height: 45px;
			span{
				display: inline;
			}
		}
	}
	@include r(530){
		&__nav {
			display: flex;
			list-style-type: none;
			margin: 0;
			overflow-x: scroll;
		}
	}

}