<footer class="footer">

    <div class="container">
        <div class="footer__body">
            <div class="footer__left">
                <div class="footer__contact">
                    <a class="footer__phone" href="#">8-800-2500-600</a>
                    <a class="footer__call" href="#">Заказать звонок</a>
                    <a class="footer__email" href="#">info@mpr-shop.ru</a>
                    <a class="footer__adres" href="#">ул. Белинского, 152/1</a>
                </div>
                <div class="footer__social">
                    <a href="#"><img src="./img/vk.svg" alt=""></a>
                    <a href="#"><img src="./img/fb.svg" alt=""></a>
                    <a href="#"><img src="./img/inst.svg" alt=""></a>
                    <a href="#"><img src="./img/youtube.svg" alt=""></a>
                    <a href="#"><img src="./img/ok.svg" alt=""></a>
                </div>
            </div>
            <div class="footer__menu">
            <ul class="footer__list">
                <li><a href="#">О магазинах</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Партнерам</a></li>
                <li><a href="#">Учебный центр</a></li>
                <li><a href="#">Сервисные центры</a></li>
            </ul>
            </div>
            <div class="footer__right">
                <div class="footer__logo">
                    <div><img src="./img/logo-mpr-white.svg" width="200" height="58" alt=""></div>
                    <p class="footer__copy">&copy;&nbsp;2020 Магазин постоянных распродаж (МПР)</p>
                </div>
                <div class="pays">
                    <i title="Cash" class="cacsh"></i>
                    <i title="MasterCard" class="mastercard"></i>
                    <i title="Visa" class="visa"></i>
                    <i title="Yandex" class="yandex_money"></i>
                    <i title="WebMoney" class="webmoney"></i>
                    <i title="Qiwi" class="qiwi"></i>
                    <i title="Sberbank" class="sbrf"></i>
                    <i title="Alfa" class="alfa"></i>
                </div>
            </div>
        </div>
    </div>
</footer>



