<footer class="footer">

    <div class="container">
        <div class="footer__body">
            <div class="footer__col">
                <div class="footer__contact">
                    <a href="#">8-800-2500-600 <span>Заказать звонок</span></a>
                    <a href="#">info@mpr-shop.ru</a>
                    <a href="#">ул. Белинского, 152/1</a>
                </div>
                <div class="footer__social">
                    <a href="#"><img src="./img/vk.svg" alt=""></a>
                    <a href="#"><img src="./img/fb.svg" alt=""></a>
                    <a href="#"><img src="./img/inst.svg" alt=""></a>
                    <a href="#"><img src="./img/youtube.svg" alt=""></a>
                    <a href="#"><img src="./img/ok.svg" alt=""></a>
                </div>
            </div>

            <ul class="footer__list">
                <li><a href="#">О магазинах</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Партнерам</a></li>
                <li><a href="#">Учебный центр</a></li>
                <li><a href="#">Сервисные центры</a></li>
            </ul>

            <div>
                <div><img src="./img/logo-mpr-white.png" width="200" height="58" alt=""></div>
                <p class="footer__copy">&copy;&nbsp;2020 Магазин постоянных распродаж (МПР)</p>
                <img src="./img/pay.png" alt="">
            </div>
        </div>
    </div>
</footer>



