<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="header__logo"><img src="./img/logo-mpr.png" width="358" height="90" alt=""></a>
            <div class="header__select-delivery">
                <span>Доставить в</span>
                <p>Екатеринбург</p>
                <div class="select-city">
                    <div class="close"></div>
                    <p>Выберите город, в котором оформляете заказ.
                        Это важно, чтобы увидеть наличие и цены.</p>
                    <a href="#" class="btn">Все верно</a>
                    <a href="#" class="link">Выбрать город</a>
                </div>
            </div>
            <a href="#" class="header__phone">8-800-2500-600</a>
            <div class="header__control">
                <a class="header__auth" href="#"></a>
                <a class="header__like" href="#"></a>
                <a class="header__cart" href="#"></a>
            </div>
            <button class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="header__bottom">
            <button class="header__btn">Каталог</button>
            <form class="search-form" action="">
                <div class="select">
                <select class="search-form__select" name="" id="">
                    <option value="">Везде</option>
                </select>
                </div>
                <div class="search-form__inner">
                    <input class="search-form__input js-input-key" type="text" placeholder="Поиск">
                    <input class="search-form__submit" type="submit" value="">
                </div>
                <ul class="search-form__drop">
                    <li>Екатеринбург, ул. Шарташская, 10</li>
                    <li>Екатеринбург, ул. Азина, 20/3</li>
                </ul>
            </form>

            <ul class="menu-header">
                <li><a href="#"><img class="menu-header__icon" src="./img/percent-icon.svg" width="24" height="24" alt=""> Акции</a></li>
                <li><a href="#"><img class="menu-header__icon" src="./img/adres-icon.svg" width="24" height="24" alt=""> Адреса магазинов</a></li>
                <li>
                    <a href="#"><img class="menu-header__icon" src="./img/company-icon.svg" width="24" height="24" alt=""> Компания</a>
                    <ul class="menu-header__down">
                        <li><a href="">Компания 1</a></li>
                        <li><a href="">Компания 2</a></li>
                        <li><a href="">Компания 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

