<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="header__logo"><img src="/img/logo-mpr.png" width="358" height="90" alt=""></a>
            <div class="header__select-delivery">
                <span>Доставить в</span>
                <p>Екатеринбург</p>
            </div>
            <a href="#" class="header__phone">8-800-2500-600</a>
            <div class="header__control">
                <a class="header__auth" href="#"></a>
                <a class="header__like" href="#"></a>
                <a class="header__cart" href="#"></a>
            </div>
        </div>
        <div class="header__bottom">
            <form action="">

            </form>
        </div>
    </div>
</header>

