@font-face {
  font-family: 'Circe';
  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/Circe/Circe-Bold.woff2') format('woff2'),
  url('../fonts/Circe/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Regular'), local('Circe-Regular'),
  url('../fonts/Circe/Circe-Regular.woff2') format('woff2'),
  url('../fonts/Circe/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}