@import 'partials/normalize';
@import 'mixin';
@import 'fonts';
@import 'icon';
@import 'partials/slick';
@import 'partials/remodal';
@import 'partials/remodal-default-theme';
@import 'partials/fancybox';
@import 'partials/formstyler';
@import 'partials/formstyler.theme';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Circe', sans-serif;
	color: #333;

	&.lock {
		overflow: hidden;
	}
}

.wrp {
	overflow: hidden;
}
.d-none{
	display: none;
}

.container {
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.w100 {
	width: 100%;
}
.remodal-wrapper{
	@include r(767){
		border-radius: 0;
		padding: 0;
	}
}
.remodal {
	background: #FFFFFF;
	box-shadow: 0px 5px 14px rgba(21, 33, 55, 0.1);
	border-radius: 16px;
	overflow: hidden;
	@media only screen and (min-width: 641px) {
		max-width: 600px;
		&.w980{
			max-width: 980px;
		}
		&.w860{
			max-width: 860px;
		}
		&.p-0{
			padding: 0;
		}
		&.pb-0{
			padding-bottom: 0;
		}
	}

	.remodal-close {
		top: 10px;
		right: 10px;
		left: auto;
	}
	&__title {
		color: #fff;
	}
	.remodal-close{
		width: 42px;
		height: 42px;
		top: 36px;
		right: 36px;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("../img/remodal-close.svg");
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}
	@include r(767){
		border-radius: 0;
		margin: 0;
		height: 100%;
		.remodal-close{
			width: 16px;
			height: 16px;
			top: 36px;
			right: 36px;
			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background-image: url("../img/remodal-close.svg");
				background-size: 100%;
				background-repeat: no-repeat;
			}
		}
	}
}

.checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-family: Circe;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	user-select: none;
	color: #333333;

	&:hover input ~ .checkmark {
		background-color: rgba(#EB222D, .5);
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked ~ .checkmark {
			background-color: #EB222D;

			&:after {
				display: block;
			}
		}
	}

	.checkmark:after {
		left: 8px;
		top: 4px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}

	.checkmark {
		position: absolute;
		top: 2px;
		left: 0;
		height: 24px;
		width: 24px;
		background-color: #fff;
		border-radius: 8px;
		border: 1px solid rgba(1, 14, 61, 0.12);
		margin: 0!important;
		&:after {
			content: "";
			position: absolute;
			display: none;
		}

		&:hover input ~ .checkmark {
			background-color: #ccc;
		}
	}
	@include r(767){
		.checkmark {
			position: absolute;
			top: -3px;
		}
	}
}

.radio {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	user-select: none;

	&:hover input ~ .checkmark {
		background-color: rgba(#EB222D, .5);
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked ~ .checkmark {
			background-color: #EB222D;

			&:after {
				display: block;
			}
		}
	}

	.checkmark:after {
		top: 8px;
		left: 8px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: white;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #fff;
		border-radius: 50%;
		border: 1px solid rgba(1, 14, 61, .12);

		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
}

.modal-subscribe{
	background: rgba(21, 33, 55, 0.8);
	box-shadow: 0px 5px 14px rgba(21, 33, 55, 0.1);
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 430px;
	width: 100%;
	border-radius: 16px;
	padding: 35px;
	transform: translate3d(0,0,0) translate(-50%,-50%);
	display: none;
	&.open{
		display: block;
	}
	p{
		font-family: Circe;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;
	}
}

.overflow-search{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000,.6);
	z-index: 100;
	display: none;
	&.active{
		display: block;
	}
}

//Уведомления
@import "componets/alert";

//Шапка
@import "componets/header";

//Главная поиск
@import "componets/search-form";

//Главная меню
@import "componets/menu-header";

//Главная навигация
@import "componets/nav";

//Главная промо
@import "componets/promo";

//Подвал
@import "componets/footer";

//внутряняя стрница
@import "componets/main";

//Карточки товара на главной
@import "componets/card";

//Новости на главной
@import "componets/blog";

//Подписка
@import "componets/subscribe";

//Карты на главной
@import "componets/maps";

//Преимущества на главной
@import "componets/tizers";

//Акции
@import "componets/stock";

//Табы
@import "componets/tabs";

//Преимущества на главной
@import "componets/banners-bottom";

//Преимущества на главной
@import "componets/banners-top";

//Смотрели ранее
@import "componets/accompany";

//Платежи
@import "componets/pays";

//Акции
@import "componets/sale";

//Акций детальная
@import "componets/sale-detail";

//Статьи
@import "componets/articles";

//Статьи детальная
@import "componets/articles-detail";

//Пагинация
@import "componets/pagination";

//Фильтр
@import "componets/filter";

//Меню
@import "componets/menu";

//Обзор товаров в асайде
@import "componets/reviews-aside";

//каталог рубрики
@import "componets/catalog-section";

//каталог детально
@import "componets/catalog-detail";

//Хлебные крошки
@import "componets/breadcrumb";

//Сортировка
@import "componets/sort";

//Галерея
@import "componets/gallery";

//Отзывы
@import "componets/review";

//Звезды рейтинг
@import "componets/rating";

//информация
@import "componets/information";

//Форма добавления отзыва
@import "componets/form-review";

//Страница 404
@import "componets/page404";

//Страница учебный центр
@import "componets/learning";

//Стилизация формы
@import "componets/form";

//Стилизация таблицы
@import "componets/table";

//Страница сервиса
@import "componets/service";

//Слайдер на главной
@import "componets/slider-main";

//Стикиры для карточек
@import "componets/stickers";

//ВЫбор города в модальном окне
@import "componets/menu-select-city";

//Страница текущий заказ
@import "componets/personal-order";

//Страница Контакты
@import "componets/contacts";

//Страница Оформление заказа
@import "componets/order";

//Страница Оформление заказа
@import "componets/soa-total";

//Страница Корзина
@import "componets/basket";

//Промокод
@import "componets/promocode";

//Менб на внутренних страницах большое
@import "componets/menu-big";

