@import 'partials/normalize';
@import 'mixin';
@import 'partials/slick';
@import 'partials/remodal';
@import 'partials/remodal-default-theme';

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Circe', sans-serif;
  color: #333;
  &.lock {
    overflow: hidden;
  }
}

.wrp {

}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.w100 {
  width: 100%;
}

.remodal {

  @media only screen and (min-width: 641px) {
    max-width: 540px;
  }
  .remodal-close {
    top: 10px;
    right: 10px;
    left: auto;
  }
  &__title {
    color: #fff;
  }
}

//Уведомления
@import "componets/alert";

//Шапка
@import "componets/header";

//Главная навигация
@import "componets/nav";

//Подвал
@import "componets/footer";

//Новости на главной
@import "componets/news-main";

